.div_male {
    box-sizing: content-box;
    block-size: 59.6875px;
    border-block-end-color: rgb(0, 128, 192);
    border-block-end-style: solid;
    border-block-end-width: 2.4px;
    border-block-start-color: rgb(0, 128, 192);
    border-block-start-style: solid;
    border-block-start-width: 2.4px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(0, 128, 192);
    border-inline-end-style: solid;
    border-inline-end-width: 2.4px;
    border-inline-start-color: rgb(0, 128, 192);
    border-inline-start-style: solid;
    border-inline-start-width: 2.4px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 9px 0px inset;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: inline-block;
    height: 59.6875px;
    inline-size: 68.15px;
    max-inline-size: 480px;
    max-width: 480px;
    min-inline-size: 68px;
    min-width: 68px;
    text-align: center;
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 68.15px;
    background: rgb(199, 236, 255);
    border: 2.4px solid rgb(0, 128, 192);
    border-radius: 10px;
    margin: 0px 0px 10px 8px;
    outline: rgb(34, 34, 34) none 0px;
    font: 700 16px / 19.696px Arial, Helvetica, sans-serif;
    padding: 8.29688px;
}
.div_female{
    box-sizing: content-box;
    block-size: 59.6875px;
    border-block-end-color: rgb(228, 12, 196);
    border-block-end-style: solid;
    border-block-end-width: 2.4px;
    border-block-start-color: rgb(228, 12, 196);
    border-block-start-style: solid;
    border-block-start-width: 2.4px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(228, 12, 196);
    border-inline-end-style: solid;
    border-inline-end-width: 2.4px;
    border-inline-start-color: rgb(228, 12, 196);
    border-inline-start-style: solid;
    border-inline-start-width: 2.4px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 9px 0px inset;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: inline-block;
    height: 59.6875px;
    inline-size: 68.15px;
    max-inline-size: 480px;
    max-width: 480px;
    min-inline-size: 68px;
    min-width: 68px;
    text-align: center;
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 68.15px;
    background: rgb(255, 199, 250);
    border: 2.4px solid rgb(228, 12, 196);
    border-radius: 10px;
    margin: 0px 0px 10px 8px;
    outline: rgb(34, 34, 34) none 0px;
    font: 700 16px / 19.696px Arial, Helvetica, sans-serif;
    padding: 8.29688px;
}
.input_male {
    border-block-end-color: rgb(34, 34, 34);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(34, 34, 34);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(34, 34, 34);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: none;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: 16px sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.input_female {
    border-block-end-color: rgb(34, 34, 34);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(34, 34, 34);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(34, 34, 34);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: none;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: 16px sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
    margin-bottom: 10px;
}
.svg {
    block-size: 50px;
    border-block-end-color: rgb(34, 34, 34);
    border-block-start-color: rgb(34, 34, 34);
    border-inline-end-color: rgb(34, 34, 34);
    border-inline-start-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    height: 40px;
    inline-size: 24px;
    overflow-clip-margin: content-box;
    perspective-origin: 12px 20px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    transform-origin: 12px 20px;
    user-select: none;
    vertical-align: middle;
    width: 24px;
    border: 0px none rgb(34, 34, 34);
    font: 700 16px / 19.696px Arial, Helvetica, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
}
.div_space{
    box-sizing: content-box;
    block-size: 59.6875px;
    border-block-end-color: rgb(0, 128, 192);
    border-block-end-style: solid;
    border-block-end-width: 2.4px;
    border-block-start-color: rgb(0, 128, 192);
    border-block-start-style: solid;
    border-block-start-width: 2.4px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-inline-end-color: rgb(0, 128, 192);
    border-inline-end-style: solid;
    border-inline-end-width: 2.4px;
    border-inline-start-color: rgb(0, 128, 192);
    border-inline-start-style: solid;
    border-inline-start-width: 2.4px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 9px 0px inset;
    caret-color: rgb(34, 34, 34);
    color: rgb(34, 34, 34);
    column-rule-color: rgb(34, 34, 34);
    cursor: pointer;
    display: inline-block;
    height: 59.6875px;
    inline-size: 68.15px;
    max-inline-size: 480px;
    max-width: 480px;
    min-inline-size: 68px;
    min-width: 68px;
    text-align: center;
    text-emphasis-color: rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 68.15px;
    background: rgb(241, 242, 242);
    border: 2.4px solid rgb(0, 128, 192);
    border-radius: 10px;
    margin: 0px 0px 10px 8px;
    outline: rgb(34, 34, 34) none 0px;
    font: 700 16px / 19.696px Arial, Helvetica, sans-serif;
    padding: 8.29688px;
}





