/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.selected,
.selected:hover {
  background-color: aqua;
}
.btn-add{
  background-color: green;
}
.btn-delete{
  background-color: red;
}
.btn-update{
  background-color: #1b6ec3;
}

.sex{
  width: 100%;
    padding:  5px 15px;
    margin: 5px 0;
    border: 1px solid black;
}