/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.selected,
.selected:hover {
  background-color: aqua;
}
.btn-add{
  background-color: green;
}
.btn-delete{
  background-color: red;
}
.btn-update{
  background-color: #1b6ec3;
}
.btn-toolbar{
  margin-bottom: 10px;
}

.sex{
  width: 100%;
    padding:  5px 15px;
    margin: 5px 0;
    border: 1px solid black;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.menu div {
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.menu div:nth-child(-n+3) {
  border-top: 0;
}

.menu div:nth-child(3n) {
  border-right: 0;
}

.css-90oupa-MuiTableCell-root{
  width: auto;
}
